   .dash_height{
        height: 220px !important;
    }
    .dash_img{
        width: 70px !important; 
        border: 1px solid rgba(255,255,255,.15);
    }
    .dash_font{
        font-size: 14px !important;
    }
    .dash_user_font{
        font-size: 15px !important;
        margin-bottom: -20px;
    }
    .dash-unit hr {
        border: 0;
        border-top: 1px solid rgba(255,255,255,.15);
        border-top-style: dashed;
        margin-top: 5px;
    }
    .dash-block{
        background-color: black;
        width: 220px;
        height: 270px;
        text-align: center;
        border-radius: 14px;
        margin-right: 20px;
        margin-bottom: 20px;
    }
    .dash-button{
        width: 80px;
    }
    .dash-image{
        width: 190px;
        height: 80px;
    }
    .input-huge{
        height: 35px;
        width: 445px;
    }
    .margin-left-5{
        margin-left: 5px; 
    }
    .color-white{
        color: white;
    }
    .logout-form{
        display: none;
    }
    .img-width{
        width: 100px;
    }
    .mar-right-10{
        margin-right: 10px;
    }